SECRET_KEY=your-secret-key-here
DEBUG=True
POSTGRES_DB=your-db-name
POSTGRES_USER=your-db-user
POSTGRES_PASSWORD=your-db-password
DATABASE_URL=postgres://your-db-user:your-db-password@db:5432/your-db-name